@{
    ViewData["Title"] = "Thông tin sinh viên";
}<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Mã sinh viên:2310900120 </p>
    <p>Họ và tên:Phạm Văn Vũ</p>
    <p>Ngày sinh:01-03-2005</p>
    <p>Email:phamvanvu010305@gmail.com</p>
    <p>Điện thoại:0347522802</p>
    <P>Lớp: K23CNT3</P>
</div>


