@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-into">
    <h1>@ViewData["Title"]</h1>
    <p>Mã sinh viên: </p>
    <p>Họ và tên:</p>
    <p>Ngày sinh:</p>
    <p>Mail:</p>
    <P>Điện thoại:</P>
    <p>Lớp: K23CNT3</p>
</div>


